body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #5d6172;
  box-shadow: var(--box-shadow);
  color: #333;

 
 
  position: relative;
  padding: 10px;
  margin: 15px;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
 
  
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}
.delete-btn {
  cursor: pointer;
  background-color: #606060;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  height: 100%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}